$bg-color: #f8f5f5;
$win-color: #e9b901;

* {
  font-family: "tiller", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

.marginApp {
  max-width: 1440px;
  padding: 0 36px 0 36px;
  margin: auto;
  @media (max-width: 600px) {
    padding: 0 24px 0 24px;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }
  .header__img__mobile {
    display: none;
  }
  @media (max-width: 600px) {
    .header__img__mobile {
      display: block;
    }
    .header__img__desktop {
      display: none;
    }
  }
  div {
    width: 100%;
  }
  select {
    width: 100%;
    margin: 24px 0 36px 0;
    font-size: 18px;
    padding: 8px 12px 8px 12px;
    border: 0;
    border-radius: 8px;
    background-color: $bg-color;
    font-weight: 400;
  }
}

nav {
  overflow-x: scroll;
  ul {
    width: 140%;
    display: flex;
    gap: 48px;
    padding: 0;
    margin: 0;
    @media (max-width: 600px) {
      gap: 24px;
    }
    li {
      list-style-type: none;
      font-weight: 400;
      font-size: 18px;
      color: black;
      opacity: 0.3;
      padding-bottom: 12px;
      cursor: pointer;
      @media (max-width: 600px) {
        font-size: 14px;
        padding-bottom: 8px;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.navActiv {
  border-bottom: 2px solid black;
  opacity: 1;
}

#sectionPoules,
#sectionFinale,
#sectionWinrate,
#sectionCartes {
  height: 1000px;
  width: 100vw;
  padding-top: 36px;
  background-color: $bg-color;
}

#sectionFinale {
  background: red;
  display: none;
}

#sectionCartes {
  background: greenyellow;
  display: none;
}

#sectionPoules {
  display: none;

  #listeArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px 24px;
  }
  article {
    width: 48%;
    gap: 24px;
    & > p {
      margin: 0 0 12px 0;
      font-size: 18px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      @media (max-width: 600px) {
        & > p {
          font-size: 14px;
          margin-left: 24px;
        }
      }
    }
  }
}

.poules__container {
  background: white;
  border-radius: 8px;
  padding: 24px;
  &__onglets {
    display: flex;
    gap: 6px;
    button {
      font-size: 14px;
      border-radius: 8px;
      border: 0;
      padding: 4px 8px;
      background-color: white;
      cursor: pointer;
      &.btnActif {
        background-color: $bg-color;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 16px;
    border-radius: 0px;
  }
}

.poules__container__classement {
  &__legendes {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    div {
      display: flex;
      gap: 36px;
    }
    p {
      font-weight: 400;
      margin-top: 12px;
      margin-bottom: 8px;
    }
  }
  &__listJoueurs {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    &__joueur {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: $bg-color;
      border-radius: 8px;
      padding: 4px 16px 4px 4px;
      align-items: center;
      p {
        margin: 0;
      }
      div {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      img {
        width: 36px;
        height: 36px;
      }
      .joueur__ptsDecklist {
        display: flex;
        gap: 64px;
        p {
          width: 14px;
        }
        a {
          width: 24px;
          height: 24px;
          margin-left: 3px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.poules__container__matchs {
  display: none;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 18px;
  margin-top: 12px;
  &__versus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    .vs {
      font-weight: 400;
      margin: 0;
    }
    &__joueur {
      padding: 4px 8px 4px 4px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $bg-color;
      width: 100%;
      & > p {
        margin: 0;
        color: $win-color;
      }
      div {
        display: flex;
        align-items: center;
        gap: 6px;
        img {
          width: 36px;
          height: 36px;
          @media (max-width: 600px) {
            width: 24px;
            height: 24px;
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
  @media (max-width: 600px) {
    font-size: 14px;
    img {
      width: 24px;
    }
  }
}

/* SECTION WINRATE */

.winrate__list {
  background: white;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 24px;
  &__card {
    width: 198px;
    background-color: $bg-color;
    font-size: 14px;
    &__top {
      background-image: url(assets/heros/large/l-nevenka.webp);
      background-size: cover;
      height: 98px;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-radius: 8px 8px 0 0px;
      & > p {
        background: white;
        height: 24px;
        padding: 2px 6px 2px 6px;
        border-radius: 8px;
        margin: 0;
      }
      &__nb {
        background: white;
        border-radius: 8px;
        height: 24px;
        padding: 2px 6px 2px 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 54px;
        img {
          width: 21px;
          height: 14px;
        }
      }
    }
    &__bot {
      padding: 16px;
      border-radius: 0 0 8px 8px;
      p {
        margin: 0;
      }
      .winTitre {
        font-weight: 400;
      }
      .winPourcentage {
        font-size: 48px;
      }
      &__vs {
        display: flex;
        gap: 4px;
        &__stats {
          background: white;
          border-radius: 8px;
          height: 24px;
          padding: 2px 6px 2px 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 54px;
          img {
            width: 17px;
            height: 14px;
          }
        }
      }
    }
  }
}
